.free {
    max-width: 70rem;
    width: 95%;
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #ddd;
    text-align: center;
}

.freechamps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.freechamps img {
    border-radius: .3rem;
    box-shadow: #000a 0 0 5px;
}